

<div class="modal-header">
    <h5 style="color:whitesmoke;">OFICINA REEDUCAÇÃO ALIMENTAR</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="fecharModal()"></button>
  </div>

  <div class="modal-body textoDescricao textoDescricaoAjustes">

        <h5>O QUE É OFERECIDO?</h5>
        <p class="semParagrafo">
          Atividades diversificadas (oficinas temáticas, oficinas culinárias, dinâmicas em grupo) planejadas e desenvolvidas por 
        profissionais da área da saúde (nutricionistas, psicólogos) contemplando temas relacionados a educação nutricional, alimentos e 
        nutrientes, culinária saudável, autoconhecimento, hábitos saudáveis, mudança de estilo de vida, entre outros).
        </p>
        
        <h5>OBJETIVO:</h5>
        <p class="semParagrafo">
          Estimular o autocuidado por meio da mudança de hábitos alimentares, trabalhando o relacionamento com o alimento a fim de se 
        encontrar o equilíbrio entre alimentação saudável e prazerosa, bem-estar, qualidade de vida e longevidade saudável.
        </p>
        
        <h5>COMO FUNCIONA?</h5>
        <p class="semParagrafo">
          Encontros periódicos de acordo com Cronograma especifico.
        </p>

        <h5>COMO PARTICIPAR?</h5>
        <p class="semParagrafo">
          Para participar inscreva-se <app-link-contato></app-link-contato>
        </p>
  </div>

  <div class="modal-footer">
  </div>

 