

<div class="modal-header">
    <h5 style="color:whitesmoke;">HAS - (Hipertensão Arterial Sistêmica)</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="fecharModal()"></button>
  </div>

  <div class="modal-body textoDescricao textoDescricaoAjustes">
    <p>
        Saúde e disposição é o que a gente mais precisa para viver bem e feliz, não é mesmo? Os clientes da Unimed Campo Grande que sonham com uma jornada plena de realizações, com qualidade de vida podem contar com este serviço exclusivo, voltado para pessoas com hipertensão arterial.
        A equipe do Viver Bem oferece o apoio necessário que o ajudará a fazer novas escolhas, trilhar novos caminhos, deixando seu coração preparado para viver novas experiências e grandes emoções.
        A Linha de Cuidado HAS desenvolve estratégias por meio de consultas médicas, consultas de enfermagem, orientações nutricionais, psicológicas, e atividades em grupos  as quais possibilitam a compreensão sobre a Hipertensão Arterial Sistêmica, sobre  a importância da adesão ao seu plano de cuidado para controle da doença e prevenção das possíveis complicações (retinopatias, nefropatias, acidente vascular, infarto do miocárdio, entre outras). Além de estimular a mudança do estilo de vida (MEV) com a incorporação de hábitos saudáveis e promoção do autocuidado.
        Os participantes são convidados para os Encontros Saúde Mais, são atividades em grupo (oficinas, rodas de conversa, dinâmicas com jogos, socialização, etc.) que trazem para discussão e conhecimento temas relacionados à saúde e bem-estar.
    </p>
    <p>
        Para participar inscreva-se <app-link-contato></app-link-contato>
    </p>
  </div>

  <div class="modal-footer">
  </div>

 