

<div class="modal-header">
    <h5 style="color:whitesmoke;">ENCONTROS TRAVESSIA</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="fecharModal()"></button>
  </div>

  <div class="modal-body textoDescricao textoDescricaoAjustes">
    <p>
        <h5>O QUE É OFERECIDO?</h5>
        <p class="semParagrafo">
          Encontros para clientes Unimed que estão vivenciando o diagnóstico e tratamento de neoplasia (câncer) onde acontecem atividades 
        planejadas e desenvolvidas por profissionais da área da saúde contemplando temas relacionados a   autoconhecimento, hábitos 
        saudáveis, mudança de estilo de vida, autocuidado apoiado, espiritualidade, capacidade cognitiva, saúde mental, entre outros.
        </p>
        
        <h5>OBJETIVO:</h5>
        <p class="semParagrafo">
          Desenvolver estratégias que possibilitem aos participantes o enfrentamento do diagnostico oncológico que passou a fazer parte da 
        sua história de vida, possibilitando a compreensão de que os desafios da terapêutica são ferramentas que o conduzirão a travessia 
        segura deste caminho na busca da cura.
        </p>
        
        <h5>COMO FUNCIONA?</h5>
        <p class="semParagrafo">
          Encontros periódicos de acordo com Cronograma especifico.
        </p>
        
        <h5>COMO PARTICIPAR?</h5>
        <p class="semParagrafo">
          Para participar dos Encontros Travessia entre em contato pelos telefones:  3389-2541/99812-0165 ou <app-link-contato></app-link-contato>
        </p>
        
  </div>

  <div class="modal-footer">
  </div>

 