

<div class="modal-header">
    <h5 style="color:whitesmoke;">
        OFICINA MOVIMENTO E FORTALECIMENTO</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="fecharModal()"></button>
  </div>

  <div class="modal-body textoDescricao textoDescricaoAjustes">
        <h5>O QUE É OFERECIDO?</h5>
        <p class="semParagrafo">
            Prática de atividade física para fortalecimento e/ou reabilitação (trabalhando força muscular, equilíbrio, resistência, 
            flexibilidade, coordenação motora) para os beneficiários elegíveis a partir da avaliação funcional realizada pela equipe de 
            fisioterapeutas do Viver Bem.
        </p>
        
        <h5>OBJETIVO:</h5>
        <p class="semParagrafo">
            Melhorar a qualidade de vida, proporcionar mais autonomia e bem estar integral a partir da recuperação e/ou manutenção da 
            capacidade funcional. Além de promover a melhora do bem-estar físico, psicológico e social bem como segurança para a realização
            das atividades da vida diária.
        </p>
        
        <h5>COMO FUNCIONA?</h5>
        <p class="semParagrafo">
            Encontros periódicos de acordo com Cronograma especifico.
        </p>
        
        <h5>COMO PARTICIPAR?</h5>
        <p class="semParagrafo">
            Para participar inscreva-se <app-link-contato></app-link-contato>
        </p>
  </div>

  <div class="modal-footer">
  </div>

 