

<div class="modal-header">
    <h5 style="color:whitesmoke;">OFICINA TEMÁTICA PARA GESTANTES</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="fecharModal()"></button>
  </div>

  <div class="modal-body textoDescricao textoDescricaoAjustes">

        <h5>O QUE É OFERECIDO?</h5>
        <p class="semParagrafo">
          Atividades de educação em saúde planejadas e desenvolvidas por profissionais da área da saúde contemplando temas relacionados ao 
        ciclo gravídico-puerperal, saúde materna, saúde do bebe, pré-natal obstétrico e pré-natal psicológico.
        </p>

        <h5>OBJETIVO:</h5>
        <p class="semParagrafo">
          Contribuir para a qualificação da atenção à saúde da mulher no ciclo da gestação, do parto e   do puerpério. Apoiar a cliente 
        Unimed CG no processo de compreensão da importância da adesão ao pré-natal.
        </p>

        <h5>COMO FUNCIONA?</h5>
        <p class="semParagrafo">
          Encontros periódicos de acordo com Cronograma especifico.
        </p>

        <h5>COMO PARTICIPAR?</h5>
        <p class="semParagrafo">
          Para participar das Oficinas Temáticas para Gestantes entre em contato pelo telefone 0800 515 1510, opção 1-1-1-1 ou <app-link-contato></app-link-contato>
        </p>
        
    </div>

  <div class="modal-footer">
  </div>

 