 

<div class="modal-header">
    <h5 style="color:whitesmoke;">
        ENCONTROS SAÚDE MAIS</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="fecharModal()"></button>
  </div>

  <div class="modal-body textoDescricao textoDescricaoAjustes">
    <p>
        <h5>O QUE É OFERECIDO?</h5>
        <p class="semParagrafo">
          Atividades de educação em saúde planejadas e desenvolvidas por profissionais da área da saúde contemplando temas relacionados a 
        promoção da saúde e prevenção de doenças e agravos.
        </p>
        
        <h5>OBJETIVO:</h5>
        <p class="semParagrafo">
          Desenvolver estratégias que possibilitem aos participantes a compreensão sobre a doença do qual é portador e a importância da 
        adesão ao seu   plano de cuidados para controle da doença e prevenção das possíveis complicações.
        Estimular a mudança do estilo de vida (MEV) com a incorporação de hábitos saudáveis e da responsabilização pelo autocuidado.
        </p>
        
        <h5>COMO FUNCIONA?</h5>
        <p class="semParagrafo">
          Encontros periódicos de acordo com Cronograma específico.
        </p>
        
        <h5>COMO PARTICIPAR?</h5>
        <p class="semParagrafo">
          Inscreva-se <app-link-contato></app-link-contato>
        </p>
        
  </div>

  <div class="modal-footer">
  </div>

 