

<div class="modal-header">
    <h5 style="color:whitesmoke;">Sobrepeso e Obesidade</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="fecharModal()"></button>
  </div>

  <div class="modal-body textoDescricao textoDescricaoAjustes">
    <p>
      A adesão a um estilo de vida saudável com estímulo a mudanças comportamentais para o desenvolvimento de uma relação saudável com o processo de alimentação e nutrição faz parte dos objetivos desta linha de cuidado, assim como a promoção de estratégias para combater o sedentarismo, possibilitando que o cliente conheça atividades físicas diversificadas que o ajudarão nas escolhas, que por afinidade facilite a pratica regular com melhoria da qualidade de vida. Neste desafio, os clientes Unimed Campo Grande, que fazem parte do Programa Viver Bem, contam com o apoio de educadores físicos, nutricionistas, médicos e psicólogos.
      Os participantes da Linha de Cuidado Sobrepeso e Obesidade são convidados para a Oficina Reeducação Alimentar e estimulados a participar do Agita Unimed.
      Sempre é possível começar e recomeçar, encarar os desafios das mudanças como estratégias vitoriosas para o alcance do que faz sentido para você, reescrever histórias que façam sua vida melhor e que contribuam com aqueles que também precisam de um novo caminho. Junte-se a nós!
    </p>
    <p>
        Para participar inscreva-se <app-link-contato></app-link-contato>
    </p>
  </div>

  <div class="modal-footer">
  </div>

 