
<div class="corpoMaster">

    <div class="apresentacao">

        <div style="margin-top: 5%; margin-left: 35%;">
            <h1>Viver Bem</h1>
            <div id="separador">
            </div>
        </div>
        <div class="textoDescricao" style="font-weight: bold;">
            <p>O Viver Bem é um Programa de Cuidados disponibilizado aos nossos beneficiários com mais de 18 anos, sem custo algum. Dele, podem 
                participar todos que convivem com alguma doença crônica e que necessitam de um atendimento exclusivo, feito por uma equipe 
                multidisciplinar (médicos, enfermeiros, técnicos em enfermagem, psicólogos, nutricionistas, fisioterapeutas, fonoaudiólogos e 
                educadores físicos) dedicada ao cuidado integral à saúde. </p>

            <p>
                Para cuidar é preciso acolher, escutar, compreender, identificar os riscos de adoecimento e construir, em conjunto, o plano de cuidado centrado na pessoa. Este plano, além de consultas médicas, também contempla as orientações e caminhos para a incorporação de hábitos saudáveis e redução de fatores de risco, propiciando saúde e qualidade de vida aos pacientes.</p>
            <p>
                Após a identificação de situações de risco para doenças crônicas o beneficiário é convidado a participar dos Programas.
            </p>
             
        </div>
    </div>


    <div class="div1"> Programas Viver Bem</div>
   
    <div class="corpo wrapper">

        <div class="box box1 clicavel" (click)="exibePrograma('gestantes')">
            <img src="../../assets/gestantes.jpeg" alt="" style="border-radius: 3rem 0rem 0rem 0rem;">
            <div class="etiquetaProgama" style="background-color: orange; width: 50%;">Gestante</div>
        </div>

        <div class="box box2 clicavel" (click)="exibePrograma('diabetes')">
            <img src="../../assets/diabetes.jpeg" alt="" class="clicavel">
            <div class="etiquetaProgama" style="background-color: #B1D34B; width: 35%; color: #0A5F55; left: 50%;" >Diabetes</div>
        </div>

        <div class="box box2 clicavel" (click)="exibePrograma('hipertensao')"><img src="../../assets/hipertensao.jpeg" alt="">
            <div class="etiquetaProgama" style="background-color: #00995D; width: 80%; padding-left: 50%;">Hipertensão</div>
        </div>

        <div class="box box2 clicavel" (click)="exibePrograma('idoso')"><img src="../../assets/idoso.jpeg" alt="">
            <div class="etiquetaProgama" style="background-color: #0A5F55; width: 40%; left:40%;">Idoso</div>
        </div>

        <div class="box box2 clicavel" (click)="exibePrograma('oncologico')"><img src="../../assets/oncologico.jpeg" alt="">
            <div class="etiquetaProgama" style="background-color: orange; width:35%;">Oncológico</div>
        </div>

        <div class="box box2 clicavel" (click)="exibePrograma('obesidade')"><img src="../../assets/obesidade.jpeg" alt="" >
            <div class="etiquetaProgama" style="background-color: #B1D34B; width:60%; color: #0A5F55; left:20%;">Obesidade</div>
        </div>

        <div class="box box7 clicavel" (click)="exibePrograma('empresas')">
            <img src="../../assets/viver-berm-nas-empresas.jpeg" style="border-radius: 0rem 0rem 3rem 0rem;">
            <div class="etiquetaProgama" style="background-color: #0A5F55; width: 25%; left: 35%;">Viver bem nas empresas</div>
        </div>
    </div>
    <!-- <div style="background-image: url('../../assets/grafismo.png'); z-index: 1000; width: 50%; height: 200px; position: relative; border: 1px solid black;">
        asdlkajsdlajsdlkasjd
    </div> -->
</div>