

<div class="modal-header">
    <h5 style="color:whitesmoke;">Idoso</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="fecharModal()"></button>
  </div>

  <div class="modal-body textoDescricao textoDescricaoAjustes">
    <p>
        Cada um de nós tem uma história que nos antecede, onde a idade indica o passar do tempo, mas não o que devemos fazer com nossa vida. O que determina nossa vida é a intensidade com que buscamos a melhor forma de amadurecer dentro das nossas possibilidades. O envelhecimento pode significar muitas possibilidades, depende de nós!  Sabe aquele propósito de vida que temos no fundo do peito? Então, podemos alcançar com disposição e muita saúde. A Unimed Campo Grande propõe a todos da melhor idade, de forma gratuita, atividades que fomentam os vínculos sociais, independência, autonomia e bem estar. É possível viver uma maturidade mais saudável explorando um repertório de atividades educativas, sendo protagonista em suas escolhas e contando com atendimento exclusivo e personalizado do Viver Bem.
        Os participantes da Linha de Cuidado são convidados para a Oficina do Programa de Atenção ao Idoso (PAI) onde acontecem atividades em grupo (rodas de conversa, dinâmicas com jogos, socialização, etc.) que possibilitam vivências e conhecimentos   para uma vida saudável.
    </p>
    <p>
        Para participar inscreva-se <app-link-contato></app-link-contato>
    </p>
  </div>

  <div class="modal-footer">
  </div>

 