

<div class="modal-header">
    <h5 style="color:whitesmoke;">Viver Bem na empresa</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="fecharModal()"></button>
  </div>

  <div class="modal-body textoDescricao textoDescricaoAjustes">
    <p>
        O QUE É OFERECIDO?
        O Programa Viver Bem oferece ações estratégicas de promoção a saúde e prevenção de doenças e agravos em alinhamento com a gestão de pessoas e médico do trabalho dos cliente-empresariais disponibilizando linhas de cuidados: Linha de Cuidado HAS (Hipertensão Arterial Sistêmica), Linha de Cuidado DM (Diabetes Mellitus), Linha de Cuidado Idosos, Linha de Cuidado Sobrepeso e Obesidade, Linha de Cuidado Travessia (oncologia), Linha de Cuidado Gestantes. Essas Linhas contribuem para oferecer um cuidado integral em saúde. Nessa parceria entre o Programa Viver Bem e as empresas, poderão ser criadas ações em conjunto que mitigam riscos de absenteísmo e rotatividade dos recursos humanos.

        OBJETIVO:
        Melhorar a qualidade de vida dos colaboradores das empresas que são clientes da Unimed Campo Grande, por meio de ações de promoção à saúde e prevenção de doenças e agravos e oferta de um modelo de atenção integral a saúde.

        COMO FUNCIONA?
        O Cliente Empresarial, em parceria com a equipe Viver Bem, irá planejar e desenvolver ações de Educação em Saúde e estratégias para identificar os colaboradores elegíveis para participação nas Linhas de Cuidado.

        COMO PARTICIPAR?
        O cliente empresarial interessado poderá entrar em contato por meio das analistas de relacionamento da Unimed Campo Grande pelo telefone: (67) 3389-2451.
    </p>
    <p>
        Para participar inscreva-se <app-link-contato></app-link-contato>
    </p>
  </div>

  <div class="modal-footer">
  </div>

 