<div class="corpoMaster">

    <div class="apresentacao">
        <div style="margin-top: 5%; margin-left: 35%;">
            <h1>Atividades/Oficinas</h1>
            <div id="separador">
            </div>
        </div>  
    </div>

    <div id="atividades" class="corpoHomeAtividade wrapperGridAtividades">
        <div class="box box1 clicavel" (click)="exibeAtividade(1)">
            <img src="../../../assets/atividades/agita-unimed.jpeg" alt="" style="border-radius: 3rem 0rem 0rem 0rem;">
            <div class="etiquetaProgama" style="background-color: orange; width: 100%;">Agita Unimed</div>
        </div>
        <div class="box box2 clicavel" (click)="exibeAtividade(2)">
            <img src="../../../assets/atividades/curso-gestantes.jpeg" alt="" class="clicavel">
            <div class="etiquetaProgama" style="background-color: #B1D34B; width: 100%; color: #0A5F55; left: 0%;" >Curso para Gestantes</div>
        </div>
        <div class="box box2 clicavel" (click)="exibeAtividade(3)">
            <img src="../../../assets/atividades/encontro-saude-mais.jpeg" alt="">
            <div class="etiquetaProgama" style="background-color: #00995D; width: 100%; padding-left: 0%;">Encontros Saúde Mais</div>
        </div>
        <div class="box box2 clicavel" (click)="exibeAtividade(4)">
            <img src="../../../assets/atividades/travessia.jpeg" alt="">
            <div class="etiquetaProgama" style="background-color: #0A5F55; width: 100%; left:0%;">Encontros Travessia</div>
        </div>
        <div class="box box2 clicavel" (click)="exibeAtividade(5)">
            <img src="../../../assets/atividades/oficina-movimento-fortalecimento.jpeg" alt="">
            <div class="etiquetaProgama" style="background-color: orange; width:100%;">Oficina Movimento e Fortalecimento</div>
        </div>
        <div class="box box2 clicavel" (click)="exibeAtividade(6)">
            <img src="../../../assets/atividades/pai.jpeg" alt="" >
            <div class="etiquetaProgama" style="background-color: #B1D34B; width:100%; color: #0A5F55; left:0%;">Oficina Pai (Programa de Anteção ao Idoso)</div>
        </div>
        <div class="box box2 clicavel" (click)="exibeAtividade(7)">
            <img src="../../../assets/atividades/oficina-reeducacao-alimentar.jpeg">
            <div class="etiquetaProgama" style="background-color: #00995D; width: 100%; left:0%;">Oficina Reeducação Alimentar</div>
        </div>
        <div class="box box7 clicavel" (click)="exibeAtividade(8)">
            <img src="../../../assets/atividades/oficinas-tematicas-gestantes.jpeg" style="border-radius: 0rem 0rem 3rem 0rem;">
            <div class="etiquetaProgama" style="background-color: #0A5F55; width: 100%; left:0%;">Oficina Temática para Gestantes</div>
        </div>
    </div>
</div>