

<div class="modal-header">
    <h5 style="color:whitesmoke;">DM - (Diabetes Mellitus)</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="fecharModal()"></button>
  </div>

  <div class="modal-body textoDescricao textoDescricaoAjustes">
    <p>
        Para fazer boas escolhas, capazes de manter a sua saúde e qualidade de vida, você pode contar com o apoio de um programa exclusivo para clientes da 
        Unimed Campo Grande, que o ajudará na compreensão sobre o Diabetes Mellitus, sobre a importância da adesão ao seu plano de cuidado para controle da 
        doença e prevenção das possíveis complicações (retinopatias, nefropatias, dificuldade de cicatrização, pé diabético, entre outras), além de estimular 
        a mudança do estilo de vida (MEV) com a inclusão de hábitos saudáveis e promoção do autocuidado.Os participantes da Linha de Cuidado DM são convidados 
        para os Encontros Saúde Mais que são atividades em grupo (oficinas, rodas de conversa, dinâmicas com jogos, socialização, etc) que trazem para 
        discussão e conhecimento temas relacionados a saúde e bem-estar para a conquista de uma vida com qualidade.As experiências das atividades propostas 
        influenciam positivamente a vida de cada cliente, trazendo mais saúde e assim apoiando a sustentação e realização dos seus propósitos, os quais serão 
        compartilhados com a família e amigos.
    </p>
    <p>
        Para participar inscreva-se <app-link-contato></app-link-contato>
    </p>
  </div>

  <div class="modal-footer">
  </div>

 