

<div class="modal-header">
  <h5 style="color:whitesmoke;">Travessia</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="fecharModal()"></button>
</div>

<div class="modal-body textoDescricao textoDescricaoAjustes">
  <p>
      "Há um tempo em que é preciso abandonar as roupas usadas, que já têm a forma do nosso corpo, e esquecer os nossos caminhos, que nos levam sempre aos mesmos 
      lugares. É o tempo da travessia: e, se não ousarmos fazê-la, teremos ficado, para sempre, à margem de nós mesmos. " Fernando Teixeira de Andrade

      A linha de cuidado Travessia acolhe os clientes Unimed CG que passaram ou estão passando pela experiência do diagnóstico e tratamento do câncer. O nome travessia foi escolhido, porque o termo traduz esta delicada e impactante jornada, sinalizando que há movimento e transformação. Assim, o objetivo é fornecer ao paciente um espaço de apoio e atenção aos aspectos psicoemocionais envolvidos na forma como nos relacionamos com o outro e com nós mesmos e como isso impacta nossos processos de saúde. É um encontro para compartilhar as vivências emocionais e a reestruturação da vida a partir da trajetória de enfrentamento do câncer.
      Os participantes da Linha de Cuidado são convidados para os Encontros da Travessia que acontecem periodicamente, momento em que o grupo trabalha temas relacionados a autoconhecimento, hábitos saudáveis, mudança de estilo de vida, apoio durante a travessia, espiritualidade, capacidades cognitivas, entre outros.

      Você não precisa fazer a travessia sozinho, conte conosco! 
  </p>
  <p>
      Para participar inscreva-se <app-link-contato></app-link-contato>
  </p>
</div>

<div class="modal-footer">
</div>

