

<div class="modal-header">
    <h5 style="color:whitesmoke;">CURSO PARA GESTANTES</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="fecharModal()"></button>
  </div>

  <div class="modal-body textoDescricao textoDescricaoAjustes">
    <p>
        <h5>O QUE É OFERECIDO?</h5>
        <p class="semParagrafo">
          O Curso para Gestantes oferece aulas, palestras e/ou oficinas contemplando temas relacionados ao ciclo gravídico-puerperal,
         saúde materna, saúde do bebe, pré-natal obstétrico e pré-natal psicológico. É coordenado por enfermeira com qualificação na área
         e   conta com a participação de profissionais da área da saúde (pediatras, obstetras, psicólogos, fisioterapeutas, nutricionistas).
        </p>
        
        <h5>OBJETIVO:</h5>
        <p class="semParagrafo">
          Contribuir para a qualificação da atenção à saúde da mulher no ciclo da gestação, do parto e   do puerpério. Apoiar a beneficiária
         no processo de compreensão da importância da adesão ao pré-natal.
        </p>
        
        <h5>COMO FUNCIONA?</h5>
        <p class="semParagrafo">
          Encontros periódicos de acordo com Cronograma especifico.
        </p>
        
        <h5>COMO PARTICIPAR?</h5>
        <p class="semParagrafo">
          Para participar do Curso de Gestantes entre em contato pelo telefone 0800 515 1510, opção 1-1-1-1 ou <app-link-contato></app-link-contato>
        </p>
        
  </div>

  <div class="modal-footer">
  </div>

 