
<div class="modal-header">
    <h5 style="color:whitesmoke;">GESTANTE</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="fecharModal()"></button>
  </div>

  <div class="modal-body textoDescricao textoDescricaoAjustes">
    <p>Estar grávida é carregar o milagre da vida, onde o sentido de existir se revela. A “mãe” que surge deste milagre, ganha força para enfrentar qualquer 
        desafio para fazer seu filho feliz e saudável. Nesta nova jornada, a linha de cuidado oferece um repertório de atividades, diálogos, trocas para que 
        a gestante e seu companheiro (a) possam se preparar na certeza de que a vida surpreende e abre portas, renovando a esperança e a confiança nesta 
        missão especial.Na Linha de Cuidado Gestantes os clientes da Unimed Campo Grande contam com suporte no acompanhamento da execução do pré-natal, e 
        apoio no autocuidado. A realização do Pré-Natal é fundamental para a prevenção e/ou detecção precoce de patologias, permitindo um desenvolvimento 
        saudável do bebê e reduzindo os riscos para gestante.Nesta jornada compartilhada você será convidada a participar de encontros, oficinas temáticas e 
        do Curso para Gestantes para que você vivencie este momento mágico da maternidade com segurança e alegria.
    </p>

    <p>
        Para participar da Linha de Cuidado Gestantes entre em contato pelo telefone 0800 515 1510, opção 1-1-1-1 ou 
        <app-link-contato></app-link-contato>       
    </p>
  </div>

  <div class="modal-footer">
  </div>