

<div class="modal-header">
    <h5 style="color:whitesmoke;">
        AGITA UNIMED</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="fecharModal()"></button>
  </div>

  <div class="modal-body textoDescricao textoDescricaoAjustes">
    
        <h5>O QUE É OFERECIDO?</h5>
        <p class="semParagrafo">Atividades físicas ao ar livre planejadas e desenvolvidas por profissional da educação física e disponibilizadas para 
            comunidade.
        </p>
        
        <h5>OBJETIVO:</h5>
        <p class="semParagrafo">
            Promover qualidade de vida por meio do incentivo e estimulo a prática regular de atividade física.
        Contribuindo para a melhoria do condicionamento físico, manutenção da saúde cardiovascular e bem-estar.
        Além de renovar as energias em contato com a natureza.
        </p>
                
        <h5>COMO FUNCIONA?</h5>
        <p class="semParagrafo">
            As atividades são oferecidas para a comunidade no espaço do Quiosque do Viver Bem no parque das Nações Indígenas próximo ao lago. 
            Acontecem segunda, quarta e sexta-feira das 7:00h as 8:00h.
        </p>
                
        <h5>COMO PARTICIPAR?</h5>
        <p class="semParagrafo">
            Para participar do Agita Unimed entre em contato pelo telefone 3389-2541/99812-0165, compareça no local e nos horários indicado e 
            fale com o educador físico responsável ou clicando aqui.
        </p>
        
        <p class="semParagrafo">
            Para participar inscreva-se <app-link-contato></app-link-contato>

        </p>
  </div>

  <div class="modal-footer">
  </div>

 