<div class="rodape">
    <div class="wrapperGridRodape">
        <div>
            <label style="font-size: medium; font-weight: bolder; margin-bottom: .1rem">
                Viver Bem 
            </label> <br>

            <label style="font-size: small;margin-bottom: 2%;">
                Rua Goiás, 695 - Jardim dos Estados <br>
                Campo Grande - MS | CEP 79020-101 <br>
                Estacionamento com acesso pela Rua da Paz <br>
            </label>
            
            <label style="font-size: small; font-weight: bolder;">
                0800 515 1510 <br> 
                Segunda a sexta-feira das 7h às 20h <br>
                Sábado das 8h às 12h
            </label>
        </div>

        <div>
            <label style="font-size: medium; font-weight: bolder; margin-bottom: .1rem;">
                Sede Adminstrativa</label> <br>
        
            <label style="font-size: small;margin-bottom: 2%;">
                Rua Goiás, 695 - Jardim dos Estados <br>
                Campo Grande - MS | Cep 79020-101 <br>
            </label>
            
            <label  style="font-size: small;margin-bottom: 2%; font-weight: bolder;">
                (67) 3389-2400 <br>
                Segunda a sexta-feira das 8h às 18h <br>
            </label>
        </div>

        <div>
            <label style="font-size: medium; font-weight: bolder; margin-bottom: 2%;">Siga-nos nas redes!</label>
            <div class="iconesRodape">
                <div>
                    <!-- <a href="https://www.instagram.com/unimedcgoficial/" target="_blank"> -->
                    <img src="../../assets/icone-wzapp.png" alt="" style="width: 100%;">
                <!-- </a> -->
                </div>
                <div style="margin-left: 3%;">
                    <a href="https://www.instagram.com/unimedcgoficial/" target="_blank">
                        <img src="../../assets/icone-instagram.png" alt="" style="width: 100%;">
                    </a>
                </div>
                <div style="margin-left: 3%;">
                    <a href="https://web.facebook.com/unimedcg?_rdc=1&_rdr" target="_blank">
                        <img src="../../assets/icone-facebook.png" alt="" style="width: 100%;">
                    </a>
                </div>
                <div style="margin-left: 3%;">
                    <a href="https://br.linkedin.com/company/unimedcg" target="_blank">
                        <img src="../../assets/icone-linkedin.png" alt="" style="width: 100%;">
                    </a>
                </div>
                <div style="margin-left: 3%;">
                    <a href="https://www.youtube.com/channel/UCYnTWZUB0GoZRrfUgr03ePg" target="_blank">
                        <img src="../../assets/icone-youtube.png" alt="" style="width: 100%;">
                    </a>
                </div>
            </div>

            <div style="margin-left: .3rem; margin-top: .5rem; width: 17rem;">
                    <img src="../../assets/codigo-ans.png" alt="" style="width: 50%;">
            </div>
        </div>
</div>
