

<div class="modal-header">
    <h5 style="color:whitesmoke;">OFICINA PAI (PROGRAMA DE ATENÇÃO AO IDOSO)</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="fecharModal()"></button>
  </div>

  <div class="modal-body textoDescricao textoDescricaoAjustes">
        <h5>O QUE É OFERECIDO?</h5>
        <p class="semParagrafo">
          Atividades de educação em saúde planejadas e desenvolvidas por profissionais da área da saúde contemplando temas relacionados ao 
        envelhecimento saudável, promoção da saúde e prevenção de doenças e agravos.
        </p>
        
        <h5>OBJETIVO:</h5>
        <p class="semParagrafo">
          Desenvolver estratégias promotoras de qualidade de vida para o idoso, as quais contemplem o controle das doenças crônicas e 
        propostas de cuidado para as incapacidades funcionais que preservem a autonomia e a independência de modo a propiciar bem-estar e 
        satisfação das necessidades biopsicossociais.
        </p>
        
        <h5>COMO FUNCIONA?</h5>
        <p class="semParagrafo">
          Encontros periódicos de acordo com Cronograma especifico.
        </p>
        
        <h5>COMO PARTICIPAR?</h5>
        <p class="semParagrafo"><
            Para participar inscreva-se <app-link-contato></app-link-contato>
        </p>
  </div>

  <div class="modal-footer">
  </div>

 